<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Rest Api Example
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label stacked>Título</ion-label>
      <ion-input type="text" name="title" [(ngModel)]="model.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Curso</ion-label>
      <ion-input type="text" name="course" [(ngModel)]="model.course"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="save()" color="primary">Salvar</button>

</ion-content>